

    <div class="content">
     
    	<b class="back"><a href="todaysdeal.html" class="icons">back to todays deals</a></b>
     </div>

 	<div class="profile">
    	<div class="content">
        	<h2>My Profile</h2>
            <div class="xbox" >

               <%= @users.inspect %>
                <p class="caption first">Personal Information</p>
                <form>
                    <div class="band group"><label>Username</label><img src="/images/edit.jpg" class="u-name"><span id="uname" class="fr">anishmedia</span></div>
                    <div class="band group"><label>Password</label><img src="/images/edit.jpg" class="p-word"><span id="uname" class="fr">********</span></div>
                    <div class="band group"><label>Email</label><img src="/images/edit.jpg" class="e-mail"><span id="uname" class="fr">anish@anishmedia.net</span></div>

                </form>
             </div> <!-- xbox ends-->
     
             <div class="xbox">
                 <p class="caption">De-activate</p>
                 <a href="#" class="save">De-activate my Account</a>
             </div><!--xbox ends-->
        </div>
    </div><!-- profile ends -->
      <div id="popup_holder">

    </div><!-- popup holder ends -->


    	<div id="form">
        	<div class="holder">
            	<div class="close"></div>
                	<div class="mealsholder">
                      <div class="mealdetails group">
                        <p class="mealname">Sliders for Game Day: Brisket Short Rib and Classic</p>
                         <div class="buy cost group">
                            <div class="box">
                                <p></p>
                                <p>AED 10</p>
                            </div>

                            <div class="box">
                                <p class="label">Quantity</p>
                                <select><option>2</option></select>
                            </div>

                            <div class="box">
                                <p class="label">Total</p>
                                <p>AED 20</p>
                            </div>
                        </div><!-- buy cost ends-->
                    </div>
                  </div><!--meals holder ends-->

                  <div class="memberpoint">
                  	<div class="earned">
                    	<p>You've earned</p>
                        <p class="pointsearned">50</p>
                        <p>Points with this meal</p>
                        <p class="msg">Sign up to place your order</p>
                    </div>
                    <p>Already a Member? <b id="log"><a href="#">Login</a></b></p>
                  </div>

                  <p class="yo">Your order</p>




                <form class="group" id="loginform">
                    <label>Login</label>
                    <div class="clear"></div>
                    <input type="text" value="email" rel="email"><br />
                    <div class="clear"></div>
                    <input type="password" value="password" rel="password"><br />
                    <div class="clear"></div>
                    <button class="login">Login</button><b class="toggle"><a href="#" id="forgotpassword">forgot password</a></b>

                    <div class="forgotpasswordbox">
                        <p class="notify">Please enter your email address below. We will send you an email to confirm your password.</p>
                        <label>Email</label>
                        <div class="clear"></div>
                        <input type="text" value="email" rel="email"><br />
                        <button id="submit">Submit</button>
					</div>
                </form>

                 <form class="group" id="signupform">
                 <p>New user?</p>
                   <label>Email:</label><input type="text" ><br />
                    <div class="clear"></div>
                    <label>Password:</label><input type="password" ><br />
                    <div class="clear"></div>
                    <label>Confirm Password:</label><input type="password" ><br />
                    <div class="clear"></div>
                     <label>Street:</label><input type="text" ><br />
                    <div class="clear"></div>
                    <label>ZIP:</label><input type="text" ><br />
                    <div class="clear"></div>
                    <label>Phone Number:</label><input type="text" ><br />
                    <div class="clear"></div>
                    <button id="signup">Sign up</button>
                </form>
            </div><!-- holder ends -->

        </div><!--form ends-->
        <div class="pusher"></div>
