<%#= form_for @login, :as => :user, :url => login_create_path, :method => "post" do |f|%>



<%# end %>
<div class="curr_serving" style="border-bottom-width: 0px; padding-bottom: 0px; padding-top: 0px;">
    	<div class="content">

        </div>
    </div>
	<div class="loginbanner1" id="log_ban">
    	<div class="content">


          <h2 style="margin-top: 66px; left: -422px; right: 84px;" class="slogan">
        	<span style="margin-left: 548px;">… Delivering Wishes...</span>


             </h2>


<div class="memberlogin group" style="width: 329px;">
            	<p>Members Login</p>
                 <input type="text" value="email" rel="email"><br />
                 <div class="clear"></div>
                 <input type="password" value="password" rel="password"><br />
                 <div class="group" >
                 <button class="login">Login</button><b class="toggle"><a href="#" id="forgotpassword">forgot password?</a></b>
                 <a href="#" class="signup" id="signup">Sign up</a>

                 </div>
                 <p class="msg">email has been sent</p>
                  <div class="forgotpasswordbox clear">
                 	 <div class="minimize"></div>
                        <p class="notify">Please enter your email address below. We will send you an email to confirm your password.</p>

                        <div class="clear"></div>
                        <input type="text" value="email" rel="email"><br />
                        <button id="submit">Submit</button>
				 </div>

            </div>


        </div>
	</div><!-- login banner ends-->


        <div class="curr_serving" style="border-bottom-width: 0px; padding-bottom: 0px; padding-top: 0px;">
    	<div class="content">

        </div>
    </div>


   <div class="hiw-steps">
   		<div class="content">
   		
        </div>
   </div>

   <div id="popup_holder">

   </div><!-- popup holder ends -->

   <div id="form">
        	<div class="holder">
            	<div class="close"></div>
                	<div class="mealsholder">
                      <div class="mealdetails group">
                        <p class="mealname">Sliders for Game Day: Brisket Short Rib and Classic</p>
                         <div class="buy cost group">
                            <div class="box">
                                <p></p>
                                <p>AED 10</p>
                            </div>

                            <div class="box">
                                <p class="label">Quantity</p>
                                <select><option>2</option></select>
                            </div>

                            <div class="box">
                                <p class="label">Total</p>
                                <p>AED 20</p>
                            </div>
                        </div><!-- buy cost ends-->
                    </div>
                  </div><!--meals holder ends-->

                  <div class="memberpoint">
                  	<div class="earned">
                    	<p>You've earned</p>
                        <p class="pointsearned">50</p>
                        <p>Points with this meal</p>
                        <p class="msg">Sign up to place your order</p>
                    </div>
                    <p>Already a Member? <b id="log"><a href="#">Login</a></b></p>
                  </div>

                  <p class="yo">Your order</p>

               <!-- <img src="images/logo.jpg" />-->



                <form class="group" id="loginform">
                    <label>Login</label>
                    <div class="clear"></div>
                    <input type="text" value="email" rel="email"><br />
                    <div class="clear"></div>
                    <input type="password" value="password" rel="password"><br />
                    <div class="clear"></div>
                   <button class="login">Login</button><b class="toggle"><a href="#" id="forgotpassword">forgot password</a></b>

                    <div class="forgotpasswordbox">

                        <p class="notify">Please enter your email address below. We will send you an email to confirm your password.</p>
                        <label>Email</label>
                        <div class="clear"></div>
                        <input type="text" value="email" rel="email"><br />
                        <button id="submit">Submit</button>
					</div>
                </form>

                 <form class="group" id="signupform">
                 <p>New user?</p>
                   <label>Email:</label><input type="text" ><br />
                    <div class="clear"></div>
                    <label>Password:</label><input type="password" ><br />
                    <div class="clear"></div>
                    <label>Confirm Password:</label><input type="password" ><br />
                    <div class="clear"></div>
                     <label>Street:</label><input type="text" ><br />
                    <div class="clear"></div>
                    <label>ZIP:</label><input type="text" ><br />
                    <div class="clear"></div>
                    <label>Phone Number:</label><input type="text" ><br />
                    <div class="clear"></div>
                    <button id="signup">Sign up</button>
                </form>


                <form id="getlisted">
                	<p>Send us your details so that we can get you listed</p>
                    <div class="clear"></div>
                    <input type="text" value="Your Name" rel="Your Name"><br />
                    <div class="clear"></div>
                    <input type="text" value="Your Location" rel="Your Location"><br />
                    <div class="clear"></div>
                     <input type="text" value="email" rel="email"><br />
                    <div class="clear"></div>
                   <button class="sub_location">Submit</button>
                   <p class="msg">queued for listing</p>

                </form>
            </div><!-- holder ends -->

        </div><!--form ends-->

