<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Welcome, your friend <%= @user_name %> would like to share his wish list with you.</h3>
	<p>Email sent by: <%#=@email%>
     Email is sent from :<%#= @url %>
     <div class="clear"></div>
      Your friend's wish is :<b><a href=<%#=@list_url%>><%#= @wish_title %></a></b>
  
    </body>
  </html>